parameters:
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludePaths:
        - 'src/DependencyInjection/GtmExtension.php'

        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'
